<div class="card">
    <div class="title">
        <h1>Nova Conta</h1>
    </div>
    <div class="content">
        <app-input [parentForm]="form" nameControl="user" placeholder="User"></app-input>
        <app-input [parentForm]="form" nameControl="password" placeholder="****"></app-input>
        <app-input [parentForm]="form" nameControl="repeat_password" placeholder="****"></app-input>
        <app-button title="Criar" type="new-register" [disabled]="form.invalid" (emiterActionButton)="saveRegister()"></app-button>
        <app-button title="Já possuo uma conta" type="transparent" (emiterActionButton)="toLogin()"></app-button>
    </div>
</div>