.container {
    min-width: 100vw;
    min-height: 100vh;
    background: url("./../../../assets/img/background.png") top center no-repeat;
    background-color: #363636;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
        width: 100%;
        height: 100px;
        background-color: #121214;
    }
    .content {
        width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        padding: 30px 30px 0px 30px;
    }
}