div {
    margin: 20px 0px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
        border: none;
        height: 60px;
        border-radius: 30px;
        width: 100%;
        font-size: 1em;
    }
    .default {
        background-color: #121214;
        color: #929293;
        text-align: center;
    }
    .white {
        background-color: #cecece;
        color: #313131;
        text-align: center;
    }
}
