div {
    margin: 20px 0px;
    input {
        background-color: #121214;
        border: none;
        color: #929293;
        height: 65px;
        border-radius: 30px;
        text-align: center;
        width: 100%;
    }
}