<div class="card">
    <div class="title">
        <h1>Login</h1>
    </div>
    <div class="content">
        <app-input [parentForm]="form" nameControl="user" placeholder="User"></app-input>
        <app-input [parentForm]="form" nameControl="password" placeholder="****" type="password"></app-input>
        <app-button title="Entrar" type="login" [disabled]="form.invalid" (emiterActionButton)="login()"></app-button>
        <app-button title="Criar Conta" type="transparent" (emiterActionButton)="toNewRegister()"></app-button>
    </div>
</div>