.card {
    width: 400px;
    background-color: #202024;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    .title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        h1 {
            font-size: 1.3em;
            color: #fff;
        }
    }
    .content {
        padding: 0px 25px;
    }
}

@media (max-width: 400px) {
    .card {
        width: 320px;
    }
}
