<div class="container">
    <div class="content-top">
        <div class="title">
            <h1>Dragons List</h1>
        </div>
        <div class="search">
            <app-input [parentForm]="form" nameControl="search" placeholder="Search Dragon"></app-input>
        </div>
    </div>
    <div class="content-table">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Created at</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listDragons">
                    <td>{{item.name}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>
                        <a [routerLink]="['/dragons', {outlets: {view: ['edit', item.id]}}]">edit</a>
                        <span>X</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>