.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    .content-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        .title {
            width: 300px;
            display: flex;
            flex-direction: row;
            align-items: center;
            h1 {
                font-size: 1.3em;
                color: #fff;
            }
            .add-icon {
                width: 30px;
                margin-right: 15px;
                &:hover {
                    width: 40px;
                }
            }
        }
        .search {
            flex: 1;
        }
    }
    .content-table {
        flex: 1;
        background-color: #121214;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        table {
            padding: 20px;
            width: 100%;
            text-align: center;
            thead {
                background-color: #121214;
                color: #fff;
            }
            tbody {
                tr {
                    height: 40px;
                    color: #c5c5c5;
                    .action-icon {
                        width: 30px;
                        margin-right: 15px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
