.container {
    background-color: #121214;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .content-title {
        margin-top: 60px;
        color: #fff;
        .title {
            width: 700px;
            text-align: center;
        }
    }
    .content {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .box {
            width: 40%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            div {
                margin-left: 50px;
                width: 350px;
            }
        }
        .banner {
            flex: 1;
            display: flex;
            justify-content: center;
            img {
                width: 100%
            }
        }
    }
}

@media (max-width: 1000px) {
    .content {
        .banner {
            display: none !important;
        }
    }
    .title {
        width: 100% !important;
    }
}
